.picture{
    width: 300px;
    height: 200px;
    border-radius: 10px;
    
}
.main{
    width: 300px;
    padding: 15px;
    border: 1px solid gray;
    box-shadow: 10px 0 5px 0 lightgray;
    margin-left: 500px;
    background-color: aliceblue;
    border-radius: 10px;
}
.details{
    width: 280px;
    padding: 9px;
    border: 1px solid gray;
    border-radius: 10px;
}

h2{
    font-weight: bold;
    color: rebeccapurple;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    text-shadow: 1px 1px ;
}
.fact{
    font-style: italic;
}
span{
    font-weight: bold;
    
}
ul{
    list-style-type: none;
    margin-left: -40px;
}
body{
    background-image: url("https://images.alphacoders.com/469/thumb-1920-469326.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


